<% content_for :javascript do %>
 <%= javascript_tag do %>
 // Sorting the list

 $(document).ready(function(){
 $('#jobs').sortable({
 axis: 'x,y',
 dropOnEmpty: false,
 handle: '.handle',
 cursor: 'crosshair',
 items: 'li',
 opacity: 0.4,
 scroll: true,
 update: function(){
 $.ajax({
 type: 'post',
 data: $('#jobs').sortable('serialize'),
 dataType: 'script',
 complete: function(request){
 $('#jobs').effect('highlight');
 },
 url: '/jobs/sort'})
 }
 });
 });
 <% end %>
 <% end %>

 <h1>Stage - Listing jobs</h1>
 <div class="content">
   <div class="side">
 		<div class="categories">
 		  <h2>Categories</h2>
 		  <ul>
 		  <% for tag in Tag.order("name") %>
 		    <li><%= link_to_unless(params[:tag_id].to_i == tag.id, tag.display_name, params.merge(:tag_id => tag.id, :page => nil)) %></li>
 		  <% end %>
 		  </ul>
 		</div>
 	</div>

 	<div class="episodes">
 		 <div class="filters">
         <strong>Filtering:</strong>
 					<% if @tag %>
 	          <span class="filter"><%= @tag.display_name %> <%= link_to "x", params.merge(:tag_id => nil, :page => nil) %></span>
 	        <% end %>
 	   </div>
 		<ul id="jobs">
 			<% @jobs.each do |job| %>
 		  	<li id="job_<%= job.id %>">
 				<% if admin? %> 
 					<span class="handle">[drag]</span>
 				<% end %> 
 					<%= job.name %>
 					<%= link_to "View Questions for this Job", job_questions_path(job), :class => "btn primary" %> 
 					<% if admin? %>
 						<%= link_to 'Edit', edit_job_path(job) %>
 						<%= link_to 'Destroy', job, :confirm => 'Are you sure?', :method => :delete %>
 					<% end %>



 					</li>
 			<% end %>
 		</ul>
 	</div>
 </div>

 <% if admin? %>
 	<%= link_to 'New job', new_job_path %>
 <% end %>