
<div class= "answervote">
<br \>
<p><h4>Question:</h4> <%= @answer.question.question %></p><br \>       


Current Votes: <b><%= @answer.plusminus %></b>
<h4>Answer:</h4>
<%= @answer.answer %>
<%= link_to('vote up!', vote_for_job_question_answer_path(:id => @answer.id),  :method => :post) %>
<%= link_to('vote down!', vote_against_job_question_answer_path(:id => @answer.id),  :method => :post) %>

<br \>
<br \> 
<br \> 

</div>
<%= link_to "Back To Questions", job_question_answers_path %>        