<% content_for :javascript do %>
<%= javascript_tag do %>
// Sorting the list

$(document).ready(function(){
$('#books').sortable({
axis: 'x,y',
dropOnEmpty: false,
handle: '.handle',
cursor: 'crosshair',
items: 'li',
opacity: 0.4,
scroll: true,
update: function(){
$.ajax({
type: 'post',
data: $('#books').sortable('serialize'),
dataType: 'script',
complete: function(request){
$('#books').effect('highlight');
},
url: '/books/sort'})
}
});
});
<% end %>
<% end %>

<h1>Stage - Listing books</h1>
<div class="content">
  <div class="side">
		<div class="categories">
		  <h2>Categories</h2>
		  <ul>
		  <% for tag in Tag.order("name") %>
		    <li><%= link_to_unless(params[:tag_id].to_i == tag.id, tag.display_name, params.merge(:tag_id => tag.id, :page => nil)) %></li>
		  <% end %>
		  </ul>
		</div>
	</div>
	
	<div class="episodes">
		 <div class="filters">
        <strong>Filtering:</strong>
					<% if @tag %>
	          <span class="filter"><%= @tag.display_name %> <%= link_to "x", params.merge(:tag_id => nil, :page => nil) %></span>
	        <% end %>
	   </div>
		<ul id="books">
			<% @books.each do |book| %>
		  	<li id="book_<%= book.id %>">
					<span class="handle">[drag]</span>
					<%= book.name %> 
					 <%= link_to 'Show', book %>
					<%= link_to 'Edit', edit_book_path(book) %>
					<%= link_to 'Destroy', book, :confirm => 'Are you sure?', :method => :delete %>
					  
					</li>
			<% end %>
		</ul>
	</div>
</div>

<%= link_to 'New book', new_book_path %>