<p id="notice"><%= notice %></p>

<p>
	<b><%= @book.plusminus %></b> |
  Name:
  <%= @book.name %>  

	<%= link_to('vote up!', vote_for_book_path(@book), :method => :post) %> 
	<%= link_to('vote down!', vote_against_book_path(@book), :method => :post) %> 

</p>



<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
