<div class= 'userlogin'>
<h2>Login</h2>
</div>

<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-stacked" } ) do |f| %>
  <div>
		<%= f.label :email %>
  	<%= f.email_field :email %>
	</div><br />

  <div>
		<%= f.label :password %>
  	<%= f.password_field :password %>
	</div><br /> 

  <% if devise_mapping.rememberable? -%>
    <div> 
			<%= f.label :remember_me %>
			<%= f.check_box :remember_me %>
		</div><br \>
  <% end -%>

  <div><%= f.submit "Login", :class => "btn primary" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>