<!DOCTYPE html>
<html>
<head>
  <title>Preptly</title>
  <%= stylesheet_link_tag 'bootstrap.css', 'style.css' %>
  <%= javascript_include_tag :defaults  %>
  <%= csrf_meta_tag %>
</head>
<%= yield :javascript %> 
<div class="topbar">
	<div class="topbar-inner">
		<div class="container"> 
			<%= link_to "Preptly", root_path, :class => "brand" %>
			<ul class="nav">
				<li class><%= link_to "Home", root_path %></li>
				<li class><%= link_to "About Us", about_path %></li>
				<li class><%= link_to "Contact Us", contact_path %></li>
			</ul>
			<ul class="nav secondary-nav"> 
				<% if user_signed_in? %>
			    Signed in as <%= current_user.email %>.Not you?
			    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
			  <% else %>
			    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "Login", new_user_session_path %>
			  <% end %>
			</ul>
		</div>
	</div>
</div>
<body>
	<div class="container top_padding">
		<%= yield %>
	</div>
</body>
</html>
